# Netflix Show EDA

## Import Stuff

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Read Data

In [ ]:
data = pd.read_csv("./data/netflix_titles.csv")
data

## Explore Data

In [ ]:
data.shape

In [ ]:
data.info()

##  Some Insights From Data and Set Goals
1. ### Movies and TV show trend country wise and cleaning data for this

In [ ]:
movies = data[data.type == 'Movie' ]
tv_shows = data[data.type == 'TV Show']
movies_country = movies["country"]
tv_shows_country = tv_shows['country']

In [ ]:
movies.shape

In [ ]:
movies.info()

In [ ]:
movies_country = movies_country.dropna() # movies data cleaning
movies_country
tv_shows_country = tv_shows_country.dropna() # tv shows data cleaning

### Counry row set but not duplicate

In [ ]:
# count value of every unique values
movies_country = movies_country.value_counts()[:11]
tv_shows_country = tv_shows_country.value_counts()[:11]
movies_country
tv_shows_country

2. ### Year on year tv shows and movies

In [ ]:
movies_year = movies[['show_id', 'type', 'date_added']]
# movies_year.groupby('release_year')['type'].nunique()
movies_year.loc['date_added'] = pd.to_datetime(movies_year['date_added'])
movies_year = movies_year.dropna()
movies_year.info()
### IGNOER WARNING MESSAGE FOR NOW ###

In [ ]:
movies_year.date_added = pd.DatetimeIndex(movies_year['date_added']).year
movies_year

#### __Add unique values but not in increasing order very very importnant__

In [ ]:
movies_year = movies_year.groupby('date_added')['show_id'].nunique()
movies_year

In [ ]:
type(movies_year)

### Movies and tv shows with year  **** COMPLICATED****

In [ ]:
movies_tv_shows = data[['type','date_added']].dropna()
movies_tv_shows.date_added = pd.DatetimeIndex(movies_tv_shows['date_added']).year
movies_tv_shows = pd.DataFrame(movies_tv_shows.groupby(['date_added', 'type']).size()) ### COMPLICATED
movies_tv_shows

In [ ]:
### Formating the data 

movies_tv_shows = movies_tv_shows.rename(columns={0: 'count'})
movies_tv_shows = movies_tv_shows.reset_index().set_index('date_added')
movies_tv_shows.head()

## Some Important Points from Data

#### 1. Total 651 countries data are give in movie wise after cleaning. But We will do top 10 countries movie wise

## Data Visualization

### Top 10 country in Movies

In [ ]:
movies_country.plot.barh(title="Top 10 Countries in Movies in Netflix", xlabel="Number of Movies till 2020", ylabel="Country")

### Top 10 Countries in TV Shows

In [ ]:
tv_shows_country.plot.barh(title="Top 10 Countries in TV Shows in Netflix", xlabel="Number of TV Shows till 2020", ylabel="Country")

## Movies Added Trend in Netflix in 2008 to 2021

In [ ]:
movies_year.plot()

## Trend of movies and tv shows (Copy from kaggle)

In [ ]:
# Create a new figure and axes
fig, ax = plt.subplots()

# Filter the DataFrame by 'Movie' type and plot the data
movies_tv_shows[movies_tv_shows['type'] == 'Movie'].plot(ax=ax, y='count', label='Movie')

# Filter the DataFrame by 'TV Show' type and plot the data on the same axes
movies_tv_shows[movies_tv_shows['type'] == 'TV Show'].plot(ax=ax, y='count', label='TV Show')

# Add a legend to the plot
ax.legend()

plt.ylabel('No of titles')
plt.xlabel('Year added to Netflix')

plt.title('Release Trend over the Years')

# Show the plot
plt.show()