# Pandas Series

In [1]:
import pandas as pd
import numpy as np

In [12]:
marks = pd.Series({
    "Jack": 89,
    "Jhon": 82,
    "Jim": 72,
    "Roy": 21,
    "Biks": 34,
    "Jonathon": 49,
    "James": 92,
    "Rocky": 56
}, name="Marks in percentage")

In [13]:
marks

Jack        89
Jhon        82
Jim         72
Roy         21
Biks        34
Jonathon    49
James       92
Rocky       56
Name: Marks in percentage, dtype: int64

In [15]:
marks.dtype
marks

Jack        89
Jhon        82
Jim         72
Roy         21
Biks        34
Jonathon    49
James       92
Rocky       56
Name: Marks in percentage, dtype: int64

## Access element from pandas series

In [16]:
marks[0]

89

In [17]:
marks.values

array([89, 82, 72, 21, 34, 49, 92, 56])

In [18]:
marks["Roy"]

21

In [20]:
marks[marks > 70 ] # Using boolean operator in pandas series like numpy arrays

Jack     89
Jhon     82
Jim      72
James    92
Name: Marks in percentage, dtype: int64

In [21]:
marks["Jack": "James"] # here in the time of slicing its include the last index of slicing

Jack        89
Jhon        82
Jim         72
Roy         21
Biks        34
Jonathon    49
James       92
Name: Marks in percentage, dtype: int64

In [22]:
marks[["Roy","James"]] # multiindexing

Roy      21
James    92
Name: Marks in percentage, dtype: int64

In [32]:
marks["Roy": "James"] # slicing

Roy         21
Biks        34
Jonathon    49
James       92
Name: Marks in percentage, dtype: int64

In [33]:
marks[[3,5]] # multiindexing

Roy         21
Jonathon    49
Name: Marks in percentage, dtype: int64

In [34]:
marks[3:5] # slicing

Roy     21
Biks    34
Name: Marks in percentage, dtype: int64

In [35]:
marks

Jack        89
Jhon        82
Jim         72
Roy         21
Biks        34
Jonathon    49
James       92
Rocky       56
Name: Marks in percentage, dtype: int64

In [39]:
marks[(marks > 70) & (marks < 90)] # boolean operation

Jack    89
Jhon    82
Jim     72
Name: Marks in percentage, dtype: int64

In [40]:
marks

Jack        89
Jhon        82
Jim         72
Roy         21
Biks        34
Jonathon    49
James       92
Rocky       56
Name: Marks in percentage, dtype: int64

In [45]:
marks[marks > 70] += 5 # means -> add 5 to the conditional elements

In [46]:
marks

Jack         99
Jhon         92
Jim          82
Roy          21
Biks         34
Jonathon     49
James       102
Rocky        56
Name: Marks in percentage, dtype: int64

In [48]:
pd.__version__

'1.5.3'

In [50]:
marks[1:-1] # for this last index is excluded

Jhon         92
Jim          82
Roy          21
Biks         34
Jonathon     49
James       102
Name: Marks in percentage, dtype: int64

In [51]:
marks["Jhon": "Rocky"] # for this last index is included

Jhon         92
Jim          82
Roy          21
Biks         34
Jonathon     49
James       102
Rocky        56
Name: Marks in percentage, dtype: int64

In [59]:
marks

Jack         99
Jhon         92
Jim          82
Roy          21
Biks         34
Jonathon     49
James       102
Rocky        56
Name: Marks in percentage, dtype: int64

In [61]:
marks.iloc[0]

99

In [62]:
marks.loc["Jack"]

99